*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
    font-family: 'Poppins', sans-serif;
    background: #101010;
}
.row{
    width: 80%;
    max-width: 1170px;
    background: #121212;
    box-shadow: 5px 15px 30px rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    grid-gap: 30px;
    margin: 50px 0;
    padding: 40px 25px;
}
@media (max-width: 991px) {
    .row{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 560px) {
    .row{
        grid-template-columns: 1fr;
    }
}
.card{
    width: 100%;
    overflow: hidden;
    cursor: pointer;
    border-radius: 15px;
    padding: 22px;
    position: relative;
    display: grid;
    place-items: center;
    background: rgba(255, 255, 255, 0.04);
    transition: 0.3s;
}
.card:hover{
    background: rgba(255, 255, 255, 0.15);
}
.card img{
    width: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 5px 15px 30px rgba(0, 0, 0, 0.6);
    margin-bottom: 25px;
    user-select: none;
}
.card .container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.card .container h3{
    font-size: 18px;
    color: #fff;
    padding-bottom: 10px;
}
.card .container p{
    font-size: 14px;
    color: #ddd;
    padding-bottom: 24px;
}
.card span{
    width: 55px;
    height: 55px;
    display: grid;
    place-items: center;
    background: #06afec;
    border-radius: 50%;
    color: #000;
    font-size: 22px;
    position: absolute;
    top: 45%;
    right: 15%;
    box-shadow: 5px 15px 30px rgba(0, 0, 0, 0.6);
    transform: translateY(30%);
    opacity: 0;
    transition: 0.3s;
}
.card:hover span{
    transform: translateY(0);
    opacity: 1;
}